# Database for EPICS PVS for energy at APS 2-BM
# It contains the PVs that are required by the energy_2bm derived class,
# as well as additional PVs.

#########
# Filters
#########

record(stringout, "$(P)$(R)Filters")
{
   field(VAL,  "Unknown")
}

###############
# Energy change
###############

record(mbbo, "$(P)$(R)EnergyChoice")
{
   field(ZRVL, "0")
   field(ZRST, "Pink 30.00")
   field(ONVL, "1")
   field(ONST, "Mono 20.00")
   field(TWVL, "2")
}
